/*Reset*/
* {
   padding:0;
   margin:0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
	
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size:100%;

	vertical-align: baseline;
	list-style-type:none
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	display:block
}
span{
	line-height: 20px;
}

em,small{
	text-transform:normal;
	font-size:10px;
}
em{
	font-style:italic
}
p{
	font-size: 12px;
	margin: 0 0 5px 0;
	line-height: 24px;letter-spacing: 1.5px;
}

a:link,a:visited{
	text-decoration: none;
	color: #6F6F6F;
}
a:hover{
	text-decoration:underline
}
a:active{
	color: #CCC
}
input:focus,input:active,input:hover,textarea:focus,textarea:active,textarea:hover,a:active{
	outline:none
}
	
a img {border:none;}

table {border-collapse: collapse;border-spacing:1px}
q:before, q:after, blockquote:before, blockquote:after {content: "";}

h1{
	font-size:30px;
	margin:20px 0;
	line-height:30px
}
h2{
	font-size:24px;
	margin:18px 0;
	line-height:30px
}
h3{
	font-family:黑体;
	font-size:20px;
	margin:15px 0;
}
.text{
	font-family: 黑体;
	font-size: 14px;
	margin:8px 25px;
}
.text1{
	padding:6px 0 0 0px;
	height:18px;
	border:1px solid #6F6F6F;border-bottom-width:1px;
	border-top:none;
	border-left:none;
	border-right:none;
	margin-bottom:9px;
	}

.text1_news{
	padding:6px 0 0 0px;
	height:10px;
	border:none;
	margin-bottom:9px;
}
	

.text3 {
	font-family: 黑体;
	font-size: 14px;
	margin: 14px 24px 8px 24px;
}
h4{
	font-size:18px;
	margin:10px 0;
}
h5{
	font-size:16px;
	margin:5px 0;
}
h6{
	font-size:14px;
	margin:5px 0;
}
